@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Pizzoso</title>
</head>
<body class="bg-dark">
  <header class="">
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://i.pinimg.com/564x/36/57/7a/36577a8bb1a189184574a38106deaabe.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-middle">
        <h1 class="d-inline-block text-white">Pizzoso</h1></a>
      </div>
    </nav>
    <div class="container-fluid d-inline-block position-relative">
      <img src="https://www.agrodolce.it/app/uploads/2019/06/shutterstock-655358575-980x400.jpg" class="img-fluid mx-auto d-inline-block" alt="forno con pizza" width="100%"> <span class="text-white fs-1 position-absolute top-50 start-50 translate-middle" style="text-shadow: 5px 5px 7px black;"><em>L'arte della pizza.</em></span>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="text-white text-center my-5">Le nostre pizze</h2>
        </div>
      </div>
    </div><!--Pizze-->
    <div class="container">
      <div class="row">
        <!--margherita-->
        <div class="col mb-4">
          <div class="card mx-auto" style="width: 18rem; max-height:600px">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="Pizza magherita" height="100%">
            <div class="card-body">
              <h5 class="card-title fw-bold d-inline-block">Margherita</h5>
              <p class="float-end fst-italic">5€</p>
              <p class="card-text"><span>La più classica delle pizze</span></p>
              <div class="fst-italic">
                <span>Ingredienti:</span>
                <ul>
                  <li>Pomodoro</li>
                  <li>Mozzarella di bufala</li>
                  <li>Olio di oliva D.O.P.</li>
                  <li>Basilico fresco</li>
                </ul>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-success text-center">Aggiungi al carrello</a>
              </div>
            </div>
          </div>
          </div>
          <!--Fine margherita-->
          <!--Marinara-->
          <div class="col mb-4">
            <div class="card mx-auto" style="width: 18rem;  max-height:600px">
              <img src="~/img/pizza-marinara.jpg" class="card-img-top" alt="Pizza marinara" height="100%">
              <div class="card-body">
                <h5 class="card-title fw-bold d-inline-block">Marinara</h5>
                <p class="float-end fst-italic">4€</p>
                <p class="card-text"><span>Un altro grande classico</span></p>
                <div class="fst-italic">
                  <span>Ingredienti:</span>
                  <ul>
                    <li>Pomodoro</li>
                    <li>Origano</li>
                    <li>Olio di oliva D.O.P.</li>
                    <li>Aglio</li>
                  </ul>
                </div>
                <div class="text-center">
                  <a href="#" class="btn btn-success text-center">Aggiungi al carrello</a>
                </div>
              </div>
             </div>
            </div>
            <!--Fine marinara-->
            <!--Pub-->
            <div class="col mb-4">
              <div class="card mx-auto" style="width: 18rem;  max-height:600px">
                <img src="~/img/pizza-wurstel-e-patatine.jpg" class="card-img-top" alt="Pub" height="100%">
                <div class="card-body">
                  <h5 class="card-title fw-bold d-inline-block">Pub</h5>
                  <p class="float-end fst-italic">6€</p>
                  <p class="card-text"><span>La pizza più amata dai più piccoli</span></p>
                  <div class="fst-italic">
                    <span>Ingredienti:</span>
                    <ul>
                      <li>Wrustel</li>
                      <li>Patatine</li>
                      <li>Mozzarella di bufala</li>
                      <li>Olio di oliva D.O.P.</li>
                    </ul>
                  </div>
                  <div class="text-center">
                    <a href="#" class="btn btn-success text-center">Aggiungi al carrello</a>
                  </div>
                </div>
              </div>
              </div>
              <!--Fine Pub-->
              <!--Capricciosa-->
              <div class="col mb-4">
                <div class="card mx-auto" style="width: 18rem;  max-height:600px">
                  <img src="~/img/pizza-capricciosa.jpg" class="card-img-top" alt="Capricciosa" height="100%">
                  <div class="card-body">
                    <h5 class="card-title fw-bold d-inline-block">Capricciosa</h5>
                    <p class="float-end fst-italic">7€</p>
                    <p class="card-text"><span>Una pizza dai mille gusti</span></p>
                    <div class="fst-italic">
                      <span>Ingredienti:</span>
                      <ul>
                        <li>Pomodoro</li>
                        <li>Mozzarella di bufala</li>
                        <li>Olive nere</li>
                        <li>Funghi</li>
                        <li>Prosciutto cotto</li>
                        <li>Carciofi</li>
                      </ul>
                    </div>
                    <div class="text-center">
                      <a href="#" class="btn btn-success text-center">Aggiungi al carrello</a>
                    </div>
                  </div>
                 </div>
                </div>
                <!--Fine capricciosa-->
                <!--Calzone-->
              <div class="col mb-4">
                <div class="card mx-auto" style="width: 18rem;  max-height:600px">
                  <img src="~/img/calzone.jpg" class="card-img-top" alt="Calzone" height="100%">
                  <div class="card-body">
                    <h5 class="card-title fw-bold d-inline-block">Calzone al forno</h5>
                    <p class="float-end fst-italic">7€</p>
                    <p class="card-text"><span>Una pizza ripiena di felicità</span></p>
                    <div class="fst-italic">
                      <span>Ingredienti:</span>
                      <ul>
                        <li>Pomodoro</li>
                        <li>Ricotta</li>
                        <li>Mozzarella di bufala</li>
                        <li>Salame</li>
                        <li>Pepe</li>
                      </ul>
                    </div>
                    <div class="text-center">
                      <a href="#" class="btn btn-success text-center">Aggiungi al carrello</a>
                    </div>
                  </div>
                 </div>
                </div>
                <!--Fine Calzone-->
                <!--hawaii-->
              <div class="col mb-4">
                <div class="card mx-auto" style="width: 18rem;  max-height:600px">
                  <img src="~/img/hawaii.jpg" class="card-img-top" alt="Pizza hawai" height="100%">
                  <div class="card-body">
                    <h5 class="card-title fw-bold d-inline-block">Hawaii</h5>
                    <p class="float-end fst-italic">9€</p>
                    <p class="card-text"><span>Se ti vede mangiarla un napoletano mi sa che finisce male</span></p>
                    <div class="fst-italic">
                      <span>Ingredienti:</span>
                      <ul>
                        <li>Pomodoro</li>
                        <li>Ananas</li>
                        <li>Prosciutto cotto</li>
                        <li>Mozzarella</li>
                      </ul>
                    </div>
                    <div class="text-center">
                      <a href="#" class="btn btn-success text-center">Aggiungi al carrello</a>
                    </div>
                  </div>
                 </div>
                </div>
                <!--Fine hawaii--> 
      </div>
      <!--Fine ROW-->
    </div>
    <!--Fine container-->
    <footer class="bg-light mt-5">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h3>Per informazioni:</h3>
                    <p>33143231241</p>
                    <p>pizzosopizzerie@pizza.com</p>
                </div>
                <div class="col-4">
                    <img src="img/mappa.jpg"/>
                </div>
            </div>
        </div>
    </footer>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>